.login-page {
  width: 350px;
  height: 400px;
  padding: 10% 0 0;
  margin: auto;
}

.login-page form {
  margin-top: -10px;
}

.input-container {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.input-field {
  background: var(--mainGrey);
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #23b4ca;
  border-radius: 5px;
}

.footer {
  position: fixed;
}

.btn {
  background-color: #23b4ca;
  letter-spacing: var(--mainSpacing);
  border-radius: 5px;
  padding: 15px 20px;
  border: none;
  width: 50%;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto;
  margin-left: 20%;
}

.btn a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

p {
  text-align: center;
}

p a {
  color: #23b4ca;
  font-size: 18px;
  text-decoration: none;
}

form h2 {
  text-align: center;
  text-transform: uppercase;
}
