.row{
   width: 100%;
}

@media only screen and (min-width: 150px) and (max-width: 700px) {
  .body{
   font-size: 100%;
  }

  .row{
   width: 100%;
   padding: 0px;
}

.mainheader nav{
   height: 270px;
}
.mainheader nav ul{
   padding-left: 0;
   
}
.mainheader nav ul li{
   width: 100%;
   text-align: center;
}

.mainheader nav a:link, .mainheader nav a:visited{
   
  
   height: 20px;
   display: block;
}

.login-page{
   width: 100%;
}
.contact-page{
   width: 100%;
   margin-top: 22px;
}
.contact-page .form{
   margin-top:0px;
   margin-left: 10px;
}


.dashboard {
   background-color: #fff;
   color: #000;
   padding-top: 40px;
   margin-bottom: 100px;
}
.dashboard .container {
   padding-top: 50px;
   width: 83%!important;
   padding-left: 0px!important;
   padding-bottom: 100px;
}
.dashboard-topbar {

   width: 100%;
}
.table {
   width: 100%;
   max-width: 100%;
   margin-bottom: 1rem;
   background-color: transparent;
   border-collapse: collapse;
   box-sizing: border-box;
   overflow-y: scroll;
   display: block;
}



.dashboard {
   background-color: #fff;
   color: #000;
   padding-top: 40px;
   margin-bottom: 100px;
}
.dashboard .container {
   padding-top: 50px;
   width: 83%!important;
   padding-left: 0px!important;
   padding-bottom: 100px;
}
.dashboard-topbar {
   /* background-color: #fff; */
   width: 100%;
}


}
@media only screen and (min-width: 600px) and (max-width: 1300px){

   .login-page{
      width: 100%;
  }
  .login-page form{
   width: 90%;
   margin:auto; 
 }
 .contact-page{
   width: 100%;
}
.row2 {
   width: 90%;
}


}


@media only screen and (max-width: 600px){

     
#right .img  {
     
   width:80%;
   margin-left: 15%;
}
.popimg .image{

   width: 50%;

}
     

   .menusm{
       display:block!important;
   }
   .menulg{
       display:none!important;
   }
   .dashboard {
       background-color: #fff;
       color: #000;
       padding-top: 40px;
       margin-bottom: 100px;
   }
   .dashboard .container {
       padding-top: 50px;
       width: 83%!important;
       padding-left: 0px!important;
       padding-bottom: 100px;
   }
   .dashboard-topbar {
       /* background-color: #fff; */
       width: 100%;
   }
   .row2{
      width: 100%;
  }

  
}

@media only screen and (min-width: 768px){

   .row2{
      width: 90%;


}
}
@media only screen and (min-width: 992px){

   .row2{
      width: 90%;
  }
}
@media only screen and (min-width: 1200px){

   .row2{
      width: 100%!important;
  }
}

