:root {
  --primaryColor: #f09d51;
  --mainWhite: #1b1717;
  --mainBlack: #dedede;
  --mainGrey: #ececec;
  --color1: #666666;
  --color2: #999999;
  --mainSpacing: 0.1rem;
  --mainTransition: all .5s ease;
}

body {
  font-weight: 400;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  background-color: #f9f9f9;
  line-height: 1.95;
}

#wrapper {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.mainheader {
  margin: 0 auto;
  background: var(--mainBlack);
  height: 60px;
  padding: 0 10;
}

.logo {
  margin: 0 auto;
  background: var(--mainBlack);
  height: 60px;
  padding: 0 10;
  display: flex;
  float: left;
}

.mainheader nav {
  margin: 0 auto;
  background: var(--mainBlack);
  height: 60px;
  padding: 0 10;
  display: flex;
  text-transform: uppercase;
  float: left;
  width: 55%;
}

.mainheader .logo h1 {
  color: #23b4ca;
  font-weight: 300;
  line-height: 1.2;
  float: left;
  margin: 0 auto;
  text-align: center;
}

.mainheader form input[type="text"] {
  padding: 0 0 0 5;
  line-height: 1.5;
  border-radius: 5px;
  margin-top: 10px;
  float: left;
  margin-bottom: 10px;
}

.mainheader nav .menuitems {
  list-style: none;
  margin: 0 auto;
}

.mainheader nav .menuitems ul {
  list-style: none;
  margin: 0 auto;
}

.mainheader form {
  margin: 0 auto;
  background: var(--mainBlack);
  height: 60px;
  padding: 0 10;
  display: flex;
  float: left;
}

.mainheader form a {
  display: inline-block;
  padding: 10px 20px;
  height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.mainheader form a :hover {
  text-decoration: none;
  color: #23b4ca;
}

.mainheader nav ul li {
  float: left;
  display: inline;
}

.mainheader nav ul li a {
  text-decoration: none;
  color: black;
}

.mainheader nav ul li a b {
  color: #23b4ca;
}

.mainheader nav ul li a:hover {
  color: #23b4ca;
  /* font-weight: 1000; */
}

.mainheader nav a:link, .mainheader nav a:visited {
  color: var(--mainWhite);
  display: inline-block;
  padding: 10px 20px;
  height: 20px;
  text-transform: uppercase;
}

.mainheader nav a:link, .mainheader nav a:visited:hover {
  color: #23b4ca;
}

.footer {
  float: left;
  width: 100%;
  font: 13px sans-serif;
  text-shadow: rgba(0, 0, 0, 0.6) 0 0 0, rgba(255, 255, 255, 0.6) 0 1px 0;
  margin: 25 0 0 0;
  background-color: #282828;
  border-top: 1px solid #aaa;
  color: #333;
  padding: 0;
  height: 60px;
  float: left;
}

.footer p {
  color: #fff;
  text-align: center;
}

.footer p a {
  text-decoration: none;
  color: #dedede;
}

.footer .icon {
  text-align: center;
  background: #282828
}

.footer img {
  margin-top: 10;
  width: 30;
}

.icon img {
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.icon img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

#recent_newsletter {
  text-align: center!important;
  flex: 0 0 58.333333%;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  box-sizing: border-box;
  float: left;
}

.top {
  text-align: center!important;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.top h2 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-size: 2rem;
  text-align: center!important;
}

#body #left {
  border: 0;
  float: left;
  width: 17;
  height: 17;
  margin: 5 2;
}

#popular {
  float: left;
  width: 100%
}

#right .img {
  margin-bottom: 10;
  margin-right: 20;
  border: 1px solid #eaeaea;
  float: left;
  background: #fff;
  text-align: center;
  width: 23.1%;
  border-radius: 10px;
}

#right .img img {
  text-align: center;
  width: 200px;
  height: 150px;
}

#right .img h2 a {
  text-decoration: none;
  color: black;
}

#right .img h2 a:hover {
  text-decoration: none;
  color: #23b4ca;
}

#body #right {
  float: left;
  width: 54%;
}

#body #right h1 {
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  color: #fff;
  padding: 10px 0 10px 33px;
  background: #23b4ca;
  position: relative;
  margin: 0px 0 30px;
  text-transform: uppercase;
}

#body #right h2 {
  margin: 0;
  padding: 0;
  font-size: 17;
}

#body #right p {
  margin: 0;
  margin-top: 10;
  color: #8a8a8a;
  font-size: 13;
}

.popimg {
  text-align: center;
}

.popimg .image {
  position: relative;
  flex-wrap: wrap;
  width: 32%;
  height: 30%;
  float: left;
  margin: 0 5 5 0;
}

.popimg .image p:hover {
  background-color: #23b4ca;
}

.popimg .image img {
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  height: 100%
}

.popimg .image p {
  position: absolute;
  bottom: 0px;
  color: #fff;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0px;
  box-sizing: border-box;
  cursor: pointer;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-map-marker:before {
  content: "\f041";
  box-sizing: border-box;
}

#right .img:hover {
  transition: var(--mainTransition);
  transform: scale(1.012);
  cursor: pointer;
}

.popimg .image:hover {
  transition: var(--mainTransition);
  transform: scale(1.012);
  cursor: pointer;
}

.banner {
  height: 85vh;
  position: relative;
  background-size: cover;
  box-sizing: border-box;
  background-image: url('../img/bus1.jpg');
  float: left;
  width: 100%;
}

#slides {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}

.banner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  text-align: center!important;
}

.dark-overlay {
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f8f9fa!important;
}

.row {
  margin-top: 150px;
  text-align: center;
  padding-left: 30%;
  margin-left: 10%;
}

.row h1 {
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  color: rgb(255, 255, 255);
  font-size: 60px;
}

.row h2 {
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  color: rgb(35, 180, 202);
  margin-bottom: 0px;
}

.banner .dark-overlay .container .row p {
  font-size: 1.25rem;
  font-weight: 300;
}

.banner .dark-overlay .container .row form select {
  width: 100%;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  margin-left: 50px;
  height: 50px;
}